@charset "utf-8";
/*删除网页自带样式*/
*{ margin:0;padding:0;box-sizing: border-box;}
div,dl,dt,dd,form,h1,h2,h3,h4,h5,h6,img,ol,ul,li,table,th,td,p,span,a{border:0;}
img,input{border:none;vertical-align:middle;}
ul,ol{list-style-type:none;}
ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,button {
  margin: 0;
  padding: 0;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 62.5%;
}
#app {
  height: 100%
}
/*网页整体更新布局样式*/
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}
body {
  margin:0;
  font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,"sans-serif";
  color:#2a2d31;
  background: #fff;
  height: 100%;
}
