@import "./variable.styl"
@import "./mixin.styl"
  .mask-out
    position: absolute
    z-index: 200
    height: 16rem
    width: 16rem
    top: 50%
    left: 50%
    margin-left: -8rem
    margin-top: -8rem
    border-radius: 10px
    background: #000
    opacity: .6
    color: #fff
    flex-center(,center,center)
