@import "./variable.styl"
@import "./mixin.styl"

.message
  width: 100%
  margin-bottom: 10px
  flex-center(row,start,center)
  &:last-child
    margin-bottom: 0
  &.message-self
    flex-direction: row-reverse
    .text
      margin-right: 10px
      color: #fff
      background-color: #F96768
      border-radius: 10px
      border-top-right-radius:4px
  &.date
    justify-content: center
  &.change-over
    justify-content: center
  .avatar
    align-self: start
  .text 
    max-width: 70%
    margin-left: 10px
    padding: 14px
    background-color: #fff
    border-radius: 10px
    border-top-left-radius:4px
    font-size: 1.2rem
  .date
    color: #9C9C9C
  .change-over
    padding: 10px 20px
    background-color: #E1E3E2
    border-radius: 6px
    color: #A5A6A8