@import "./variable.styl"
@import "./mixin.styl"
.more
  width: 100%
  height 100%
  flex-center(,space-between,start)
  .more-item
    flex-center(column,space-between,)
    margin-right: 20px
    .more-item-icon
      padding: 20px
      border: 1px solid #ededed
      background-color: #fbfbfc
      border-radius: 12px
    &>p 
      margin-top: 10px
      color: #A9ABAB