.list-wrapper
  height: 100%
  width: 100%
  left: 0
  top: 0
  right: 0
  bottom: 0
  overflow: hidden
  .bscroll-vertical-scrollbar
    .bscroll-indicator
      background-color: #b0b0b0 !important
      border: none !important
  .pulldown-wrapper
    position: absolute
    width: 100%
    left: 0
    display: flex
    justify-content center
    align-items center
    transition: all
    .after-trigger
      margin-top: 10px
     

